<h1>ToDos</h1>
<form (ngSubmit)="!todoForm.invalid && saveTODo()" #todoForm="ngForm">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Please enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Please enter valid date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Please enter valid description</div>
  
<fieldset class="form-group">
    <label><b>Description</b></label>
    <div>
        <input type="text" #description="ngModel" [(ngModel)]="todo.description" class="form-control" name="description" required="required" minlength="5">
    </div>
</fieldset>

<fieldset class="form-group">
    <label><b>Date</b></label>
    <div>
        <input type="date" #targetDate="ngModel" [ngModel]="todo.date | date:'yyyy-MM-dd'" (ngModelChange) = "todo.date=$event" class="form-control" name="date" required="required">
    </div>
</fieldset>

<button type="submit" class="btn btn-success">Save</button>
</form>